$main-color: #F29724;
$sec-color: #059669;
$hover-color: #21ba75;
$black-color: black;
$white-color: white;
$side-bar-bg-color: #F9FAFB;
$bg-gradinet-title: linear-gradient(90deg, #F29724 0%, #c90519 100%);
$shadow-sidebar-item: -1px 8px 10px 0 #fdba74;


